paper-fab {
  display: inline-block;
  margin: 8px;
}

paper-fab.blue {
  --paper-fab-background: var(--paper-light-blue-500);
  --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
}

paper-fab.green {
  --paper-fab-background: var(--paper-green-500);
  --paper-fab-keyboard-focus-background: var(--paper-green-900);
}
paper-fab.red {
  --paper-fab-background: var(--paper-red-500);
  --paper-fab-keyboard-focus-background: var(--paper-red-900);
}
