<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-loginscreen/paper-loginscreen.html">


<dom-module id="nol-login">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }

      paper-loginscreen {
          --login-btn-background-color : var(--paper-light-blue-500);
          --login-btn-raised-background-color : var(--paper-light-blue-900);
      }

    </style>
    <script src="../../js/nol-common.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <paper-loginscreen
          title="Login NOL Banking"
          id="loginForm"
          on-login-btn-click="login"
          userInputLabel="email">
            <div slot="links">
              <paper-button style="margin-top: 24px;" class="btn btn-outline-primary" on-click="goToRegisterUser">Registrar</paper-button>
            </div>
        </paper-loginscreen>

      </div>
    </div>
    <iron-ajax
      id="doLogin"
      url="{{baseAPITechuURL}}/login"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolLogin extends Polymer.Element {
      static get is() { return 'nol-login'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }, isFailedLogin: {
            type: Boolean,
            value: false
          }

        };
      }

      login() {
        this.$.loginForm.errorMsg = "";
        console.log("login button pressed");
        //console.log(this.$.loginForm.username);
        //console.log(this.$.loginForm.password);
        var loginData = {
          "email" : this.$.loginForm.username,
          "password" : this.$.loginForm.password
        };


        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();
        console.log("Petición login enviada");
      }

      goToRegisterUser() {
        this.$.loginForm.errorMsg = "";
        console.log("Salir de login. Ir a registro usuario");
        window.location = "/newuser";
      }

//login manage response when no errors
      manageAJAXResponse(data) {
        console.log("Recibida respuesto logon del servidor");
        console.log(data.detail.response);

        var localstorage = window.localStorage;
        localstorage.setItem("noltoken", data.detail.response.token);

        //this.isLogged = true;
        window.location = "/user/" + data.detail.response.userid;
      }

      showError(error) {
        console.log("Hubo un error");
        console.log(error);
        this.$.loginForm.errorMsg = "Login incorrecto: Compruebe usuario y contraseña.";
      }

    }

    window.customElements.define(NolLogin.is, NolLogin);
  </script>
</dom-module>
