<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">

<dom-module id="nol-new-user">
  <template>
    <style>
      :host {
        display: block;
      }
      #errorMsg {
          margin-top: 16px;
          color: var(--login-error-label-color, var(--error-color));
          @apply --paper-font-menu;
      }
    </style>
    <script src="../../js/nol-common.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row justify-content-center">
    <div class="col-md-6">
    <div class="card">
    <header class="card-header">
    	<paper-button class="float-right btn btn-outline-primary mt-1" on-click="goToLogin">Log in</paper-button>
    	<h4 class="card-title mt-2">Nuevo usuario</h4>
    </header>
    <article class="card-body">
      <form>
      	<div class="form-row">
      		<div class="col form-group">
      			<paper-input id="firstNameInput" label="Nombre" value="{{first_name::input}}" required="true" errorMsg="Campo requerido"></paper-input>
      		</div> <!-- form-group end.// -->
      		<div class="col form-group">
      			<paper-input id="lastNameInput" label="Apellido" value="{{last_name::input}}" required="true" errorMsg="Campo requerido"></paper-input>
      		</div> <!-- form-group end.// -->
      	</div> <!-- form-row end.// -->
      	<div class="form-group">
          <paper-input id="emailInput" label="Email" value="{{email::input}}" required="true" pattern="[a-zA-Z]*@[a-zA-Z]*.[a-zA-Z]*" error-message="Debe escribir un email válido">
            <iron-icon icon="mail" prefix></iron-icon>
          </paper-input>
      	</div> <!-- form-group end.// -->
        <div id="errorMsg">[[errorMsg]]</div>
      	<div class="form-group">
          <paper-input id="passwordInput" label="Contraseña" value="{{password::input}}" type="password" required="true" errorMsg="Campo requerido"></paper-input>
      	</div> <!-- form-group end.// -->
        <div class="form-group">
          <paper-input id="confirmPasswordInput" label="Confirmar contraseña" value="{{confirm_password::input}}" type="password" required="true" errorMsg="Campo requerido"></paper-input>
      	</div> <!-- form-group end.// -->
        <div class="form-group">
          <paper-button raised class="btn btn-outline-primary mt-1" on-click="registerUser">Registrar</paper-button>
        </div> <!-- form-group// -->
        <small class="text-muted">Pulsando el botón 'Registar' automáticamente acepta los términos y condiciones de privacidad de Nol Banking</small>
      </form>
    </article>
    <div class="border-top card-body text-center">
      Ya eres usuario?
      <paper-button class="btn btn-outline-primary mt-1" on-click="goToLogin">Log in</paper-button>
    </div>
    </div> <!-- card.// -->
    </div> <!-- col.//-->
    </div> <!-- row.//-->

      <iron-ajax
        id="createNewUser"
        url="{{baseAPITechuURL}}/users"
        content-type="application/json"
        method="POST"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolNewUser extends Polymer.Element {
      static get is() { return 'nol-new-user'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, confirm_password: {
            type: String
          }, errorMsg: {
            type: String
          }
        };
      }

      goToLogin() {
        console.log("Salir de registro usuario. Ir a login");
        window.location = "/login";
      }

      registerUser() {
        console.log("Registrar usuario");
        //validate form data
        //auto validations
        var validated = true;
        validated &= this.$.firstNameInput.validate();
        validated &= this.$.lastNameInput.validate();
        validated &= this.$.emailInput.validate();
        validated &= this.$.passwordInput.validate();
        validated &= this.$.confirmPasswordInput.validate();

        if (!validated) {
              //did not validate correctly
          console.log("Validación de usuario incorrecta");
          return;
        }

        if (this.password != this.confirm_password) {
          console.log("Contraseñas no son iguales")
          this.errorMsg="Las dos contraseñas no coinciden";
          return;
        }

        //register user.
        var userData = {
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "password" : this.password
        };



        this.$.createNewUser.body = JSON.stringify(userData);
        this.$.createNewUser.generateRequest();
        console.log("Petición creación usuario enviada");
      }

      //correct user creation. Auto login performed, stores new token.
      manageAJAXResponse(data) {
        console.log("Recibida respuesta correcta creación usuario del servidor");

        // stores given token for correct user creation.
        var localstorage = window.localStorage;
        localstorage.setItem("noltoken", data.detail.response.token);

        window.location = "/user/" + data.detail.response.userid;
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }
    }

    window.customElements.define(NolNewUser.is, NolNewUser);
  </script>
</dom-module>
