<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">

<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-selection-column.html">
<link rel="import" href="../../bower_components/vaadin-grid/vaadin-grid-sorter.html">

<dom-module id="nol-account-detail-view">
  <template>
    <style>
          :host {
              display: block;

          }
    </style>
    <script src="../../js/nol-common.js"></script>

    <h2>Movimientos cuenta: [[account.IBAN]]<h2>

    <vaadin-grid aria-label="Movimientos" items="{{accountMovements}}" multi-sort="true" >

      <vaadin-grid-column width="175px" flex-grow="0">
        <template class="header">
          <vaadin-grid-sorter path="concepto">Fecha</vaadin-grid-sorter>
        </template>
        <template>[[item.date]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column>
        <template class="header">
          <vaadin-grid-sorter path="concepto">Concepto</vaadin-grid-sorter>
        </template>
        <template>[[item.concepto]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="150px" flex-grow="0">
        <template class="header">
          <vaadin-grid-sorter path="tipo_operacion" direction="asc">Tipo operación</vaadin-grid-sorter>
        </template>
        <template>[[item.tipo_operacion]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="150px" flex-grow="0">
        <template class="header">
          <vaadin-grid-sorter path="importe" direction="asc">Importe</vaadin-grid-sorter>
        </template>
        <template>[[item.importe]]</template>
      </vaadin-grid-column>

      <vaadin-grid-column width="50px" flex-grow="0">
        <template class="header">
        </template>
        <template>
          <paper-icon-button icon="delete-forever" tooltip="Delete" on-click="confirmDeleteMovement" alt="Delete"></paper-icon-button>
        </template>
      </vaadin-grid-column>

    </vaadin-grid>

    <br/>

      <iron-ajax
        id="getAccountMovementsForAccount"
        url="{{baseAPITechuURL}}/accounts/{{account.id}}/movements"
        handle-as="json"
        headers="{{headers}}"
        on-response="showData"
        on-error="showError"></iron-ajax>

      <iron-ajax
        id="doDeleteMovements"
        url="{{baseAPITechuURL}}/movements/{{selectedMovementId}}"
        method="DELETE"
        headers="{{headers}}"
        on-response="manageAJAXDeleteMovementResponse"
        on-error="showError"></iron-ajax>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolAccountDetailView extends Polymer.Element {
      static get is() { return 'nol-account-detail-view'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          accountMovements: {
            type: Array
          },
          account: {
            type: Object
          },
          selectedMovementId: {
            type: String
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }


      showData(data) {
          console.log("Recibido movimientos");
          this.accountMovements = data.detail.response;
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              this.accountMovements = null;
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          case 404: {
            //Not a real errorjust that account has no movements. 404 not found
              this.accountMovements = null;
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      update() {
        console.log("update account details");
        this.accountMovements = null;
        this.$.getAccountMovementsForAccount.generateRequest();
        console.log("Petición getAccounts enviada");
      }

      confirmDeleteMovement(e) {
        console.log("confirmDeleteMovement called");

        this.selectedMovementId =e.model.__data.item['_id']['$oid'];
        this.$.doDeleteMovements.generateRequest();
        console.log("Petición delete movement enviada");
      }

      manageAJAXDeleteMovementResponse(data){
        //Once account was deleted correctly  correctly
        console.log("Recibida respuesta delete correcta del servidor");
        // Update movement list information
        this.update();
      }
    }

    window.customElements.define(NolAccountDetailView.is, NolAccountDetailView);
  </script>
</dom-module>
