<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-toolbar/paper-toolbar.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/iron-icons/social-icons.html">

<dom-module id="nol-banking-header">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      paper-toolbar {
        --paper-toolbar-background: var(--paper-light-blue-500);
        --paper-toolbar-title: {
          font-style: italic;
          font-weight: bold;
        };
      }

    </style>
    <script src="../../js/nol-common.js"></script>

    <paper-toolbar>
      <paper-icon-button icon="home" slot="top" alt="Home" title="Home" on-click="goToHome"></paper-icon-button>
      <paper-icon-button icon="refresh" slot="top" alt="Refresh" title="Refrescar" on-click="refreshPage"></paper-icon-button>
      <div slot="top" class="title" style="align: left;">
        <img src="/img/bank-icon.png" alt="Nol Banking Icon"  style="height:25px;">
        NOL Banking
      </div>
      <div slot="top" style="align: right;">
        [[weatherInfo.temp]]ºC, [[weatherInfo.city_name]], [[weatherInfo.country_code]]
        <img height="25" width="25" src="/img/weather_icons/[[weatherInfo.weather.icon]].png" alt="[[weatherInfo.weather.description]]">
      </div>
      <paper-icon-button slot="top" icon="social:person" alt="User Profile" title="User Profile" on-click="goToUserProfile"></paper-icon-button>
      <paper-icon-button slot="top" icon="exit-to-app" alt="Logout" title="Logout" on-click="logout"></paper-icon-button>
    </paper-toolbar>

    <!-- Logout user API call -->
      <iron-ajax
        id="doLogout"
        url="{{baseAPITechuURL}}/logout"
        content-type="application/json"
        method="POST"
        headers="{{headers}}"
        handle-as="json"
        on-response="manageAJAXResponse"
        on-error="showError"/>

    <!-- Access external weather API -->
    <iron-ajax
      id="getWeatherInfo"
      auto=""
      url="http://api.weatherbit.io/v2.0/current?city=madrid&country=es&labuage=es&key=5715065fc7784cd5a5777eac8b5617ef"
      handle-as="json"
      on-response="storeWeatherInfo"
      on-error="showError"/>

  </template>



  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolBankingHeader extends Polymer.Element {
      static get is() { return 'nol-banking-header'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: Number
          }, weatherInfo: {
            type: Object
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }


      logout() {
        console.log("logout button pressed");
        if (this.userid == null) {
          console.log("this.userid == null");
          //remove token from session
          localStorage.setItem("noltoken", null);
          //after correct logout return to application login
          window.location = "/login";
          return;
        }
        var logoutData = {
          "id" :  this.userid
        };
        console.log(logoutData);
        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();
        console.log("Petición logout enviada");
      }

//Logout manage response when no error
      manageAJAXResponse(data) {
        console.log("Recibida respuesta logout del servidor");
        console.log(data.detail.response);

        //remove token from session
        localStorage.setItem("noltoken", null);

        //after correct logout return to application login
        window.location = "/login";
      }

      storeWeatherInfo(data) {
        console.log("Recibida respuesta info tiempo");
        console.log(data.detail.response);
        this.weatherInfo = data.detail.response.data[0];
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      goToHome() {
        console.log("home requested");
        window.location = "/user/" + this.userid;
      }

      goToUserProfile() {
        console.log("User profile requested");
        window.location = "/profile/" + this.userid;
      }

      refreshPage() {
        location.reload();
      }
    }

    window.customElements.define(NolBankingHeader.is, NolBankingHeader);
  </script>
</dom-module>
