<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">
<link rel="import" href="../../bower_components/rsat-popup/rsat-popup.html" />

<link rel="import" href="../nol-accounts-view/nol-accounts-view.html">
<link rel="import" href="../nol-banking-header/nol-banking-header.html">
<link rel="import" href="../nol-new-transfer/nol-new-transfer.html">

<dom-module id="nol-user-position">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      paper-fab {
        display: inline-block;
        margin: 8px;
      }
      paper-fab.blue {
        --paper-fab-background: var(--paper-light-blue-500);
        --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
      }
    </style>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <nol-banking-header id="nolBankingHeader" baseAPITechuURL="{{baseAPITechuURL}}"></nol-banking-header>
    <br/>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
        <header class="card-header">
          <h4 class="card-title mt-2">Datos de usuario</h4>
        </header>
          <article class="card-body">
            <form>
              <div class="form-row">
                <div class="col form-group">
                  <span>Nombre: {{first_name}}</span>
                </div>
                <div class="col form-group">
                  <span>Apellido: {{last_name}}</span>
                </div>
              </div>
              <div class="form-group">
                <span>Email: {{email::input}}</span>
              </div>
              <div class="form-group" >
                <paper-fab icon="add" title="Nueva cuenta" class="blue"  on-click="newAccount"></paper-fab>
                <paper-fab src="/img/transferencia.png" title="Transferencia" class="blue" on-click="doWireTransfer"></paper-fab>
                <paper-fab src="/img/traspaso.png" title="Traspaso" class="blue" on-click="doTransfer"></paper-fab>
              </div>
            </form>
          </article>
        </div>
      </div>
    </div>

    <br/>

    <nol-accounts-view id="nolAccountsViewId" baseAPITechuURL="{{baseAPITechuURL}}" userid="{{userid}}"></nol-accounts-view>

    <!-- *********************************** MULTIPLE POPUPS ***********************************-->

    <!--  create account confirmation dialog-->
    <paper-dialog id="confirmCreateAccountDialog">
      <h2>Cuenta creada</h2>
      <div>
        La cuenta [[newAccountIBAN]] creada correctamente.
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss autofocus on-click="updateAccounts">Cerrar</paper-button>
      </div>
    </paper-dialog>

    <!--  new transfer dialog-->
    <rsat-popup id="newTransferDialog" pos="center" backdrop="true" show="false">
      <div align="right">
        <paper-icon-button icon="close" tooltip="Cerrar" on-click="closeNewTransferDialog" alt="Cerrar"></paper-icon-button>
      </div>
      <div>
        <nol-new-transfer id="newTransferId" baseAPITechuURL="{{baseAPITechuURL}}" userid="{{userid}}"
                          on-cancel-new-movement-event="closeNewTransferDialog"
                          on-create-new-movement-event="onCreatedCloseNewTransferDialog"></nol-new-movement>
      </div>
    </rsat-popup>

    <!--  new wire transfer dialog-->
    <!-- rsat-popup id="newWireTransferDialog" pos="center" backdrop="true" show="false">
      <div align="right">
        <paper-icon-button icon="close" tooltip="Cerrar" on-click="closeWireNewTransferDialog" alt="Cerrar"></paper-icon-button>
      </div>
      <div>
        <nol-new-wire-transfer userid="{{userid}}"
                          on-cancel-new-movement-event="closeWireNewTransferDialog"
                          on-create-new-movement-event="closeWireNewTransferDialog"></nol-new-movement>
      </div>
    </rsat-popup -->
    <!-- *********************************** END OF MULTIPLE POPUPS ***********************************-->

      <iron-ajax
        id="getUser"
        url="{{baseAPITechuURL}}/users/{{userid}}"
        handle-as="json"
        headers="{{headers}}"
        on-response="showData"
        on-error="showError"/>

      <iron-ajax
        id="createNewAccount"
        url="{{baseAPITechuURL}}/accounts"
        content-type="application/json"
        method="POST"
        handle-as="json"
        headers="{{headers}}"
        on-response="correctCreateAccount"
        on-error="showError"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolUserPosition extends Polymer.Element {
      static get is() { return 'nol-user-position'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, userid: {
            type: Number,
            observer: '_useridChanged'
          }, newAccountIBAN: {
            type: String
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }
      _useridChanged(newValue, oldValue) {
        this.$.getUser.generateRequest();
        console.log("Petición getUser info enviada");
      }

      showData(data) {
          console.log("Recibido");
          this.newAccountIBAN = null;
          console.log(data.detail.response);

          if (data.detail.response != null) {
            this.id = data.detail.response[0].id;
            this.first_name = data.detail.response[0].first_name;
            this.last_name = data.detail.response[0].last_name;
            this.email = data.detail.response[0].email;

            this.$.nolBankingHeader.userid = data.detail.response[0].id;
            this.$.nolBankingHeader.first_name = data.detail.response[0].first_name;
            this.$.nolBankingHeader.last_name = data.detail.response[0].last_name;
            this.$.nolBankingHeader.email = data.detail.response[0].email;

            this.$.nolAccountsViewId.update();
          }
      }

      goToLogin() {
        console.log("Salir de registro usuario. Ir a login");
        window.location = "/login";
      }

      correctCreateAccount(data) {
        console.log("Recibida respuesta del servidor");
        console.log(data.detail.response);

        this.newAccountIBAN = data.detail.response.account.IBAN;
        //open show create information dialog
        this.$.confirmCreateAccountDialog.open();

      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      doTransfer(e) {
        console.log("Traspaso solicitada");
        this.$.newTransferId.update();
        this.$.newTransferDialog.setAttribute('show', true);
      }

      onCreatedCloseNewTransferDialog(e) {
          this.updateAccounts(e);
          this.closeNewTransferDialog(e);
      }

      closeNewTransferDialog(e){
        console.log("closeNewTransferDialog called");
        console.log(e);

        //Use next statement instead of this.$.newTransferDialog.show = false; due to component bug
        this.$.newTransferDialog.setAttribute('show', false);
      }

      doWireTransfer(e) {
        console.log("Transferencia solicitada - NOT IMPLEMENTED");
        //this.$.newWireTransferDialog.setAttribute('show', true);
      }

      closeNewWireTransferDialog(e){
        console.log("newWireTransferDialog called");
        console.log(e);

        //Use next statement instead of this.$.newTransferDialog.show = false; due to component bug
        this.$.newWireTransferDialog.setAttribute('show', false);
      }

      newAccount(e) {
        console.log("Nueva cuenta solicitada");

        //create new account.
        var accountData = {
          "userid" : parseInt(this.userid, 10)
          //all other information is created automatically in the server
        };

        this.$.createNewAccount.body = JSON.stringify(accountData);
        console.log(this.$.createNewAccount.body);
        this.$.createNewAccount.generateRequest();
        console.log("Petición creación cuenta enviada");
      }

      updateAccounts(e) {
        this.$.nolAccountsViewId.update();
      }
    }

    window.customElements.define(NolUserPosition.is, NolUserPosition);
  </script>
</dom-module>
