<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<dom-module id="nol-new-movement">
  <template>
    <style is="custom-style">
        :host {
            display: block;

        }
        paper-fab {
          display: inline-block;
          margin: 8px;
        }
        paper-fab.green {
          --paper-fab-background: var(--paper-green-500);
          --paper-fab-keyboard-focus-background: var(--paper-green-900);
        }
        paper-fab.red {
          --paper-fab-background: var(--paper-red-500);
          --paper-fab-keyboard-focus-background: var(--paper-red-900);
        }
    </style>
    <script src="../../js/nol-common.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div style="padding:10px;height:300px; width:400px;">
      <h4>Nueva operación</h4>
      <div>
        <paper-radio-group selected="{{tipo_operacion}}" allowEmptySelection=false>
          <paper-radio-button name="abono">Abono</paper-radio-button>
          <paper-radio-button name="regintegro">Regintegro</paper-radio-button>
        </paper-radio-group>
      </div> <!-- form-group end.// -->
      <div>
        <paper-input id="amountInput" label="Importe" value="{{importe::input}}" type="number" required="true" errorMsg="Campo requerido"></paper-input>
      </div> <!-- form-group end.// -->
      <div >
        <paper-textarea id="conceptoInput" label="Concepto" value="{{concepto::input}}"></paper-textarea>
      </div> <!-- form-group end.// -->
      <div align="center">
        <!-- Ok and cancel buttons -->
        <paper-fab icon="cancel" title="Cancelar" class="red" on-click="sendCancelEvent"></paper-fab>
        <paper-fab icon="check-circle" title="Confirmar movimiento" class="green" on-click="confirmNewMovement"></paper-fab>
      </div> <!-- form-group// -->
    </div>

      <iron-ajax
        id="createNewMovement"
        url="{{baseAPITechuURL}}/movements"
        content-type="application/json"
        method="POST"
        handle-as="json"
        headers="{{headers}}"
        on-response="manageAJAXResponse"
        on-error="showError"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolNewMovement extends Polymer.Element {
      static get is() { return 'nol-new-movement'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          importe:  {
            type: Number
          },
          tipo_operacion : {
            type: String,
            value: "abono"
          },
          concepto : {
            type: String
          },
          userid: {
            type: Number,
            //observer : '_accountidChanged'
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }

      sendCancelEvent(e) {
        console.log("Cancel new event " + this.accountid);

        this.dispatchEvent(
          new CustomEvent(
            "cancel-new-movement-event",
            {
              "detail" :
              {
                "accountid" : this.accountid,
              }
            }
          )
        );// fin dispatch
      }

      confirmNewMovement(e) {
        console.log("Confirm new movement");


        //validate form data
        var validated = true;
        validated &= this.$.amountInput.validate();
        validated &= this.$.conceptoInput.validate();

        if (!validated) {
              //did not validate correctly
          console.log("Validación de movimiento incorrecta");
          return;
        }


        // Get current date
        var now = new Date();
        var date = now.getFullYear()+'-'+(now.getMonth()+1)+'-'+now.getDate();
        var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        var dateTime = date+' '+time;

        console.log(dateTime);

        console.log("this.importe = " + this.importe);
        //register movement.
        var movementData = {
          "accountid" : parseInt(this.accountid, 10),
          "tipo_operacion" : this.tipo_operacion,
          "importe" : parseFloat(this.importe),
          "concepto" : this.concepto,
          "date" : dateTime
        };


        this.$.createNewMovement.body = JSON.stringify(movementData);
        console.log(this.$.createNewMovement.body);
        this.$.createNewMovement.generateRequest();
        console.log("Petición creación movimiento enviada");
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta movimiento del servidor");
        console.log(data.detail.response);

        //throw finished event
        console.log("Throw finished creating movement event");

        this.dispatchEvent(
          new CustomEvent(
            "create-new-movement-event",
            {
              "detail" :
              {
                "movement" : data.detail.response
              }
            }
          )
        );// fin dispatch
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

    }
    window.customElements.define(NolNewMovement.is, NolNewMovement);
  </script>
</dom-module>
