<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../nol-banking-header/nol-banking-header.html">

<dom-module id="nol-user-profile">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      #errorMsg {
          margin-top: 16px;
          color: var(--login-error-label-color, var(--error-color));
          @apply --paper-font-menu;
      }
      paper-fab {
        display: inline-block;
        margin: 8px;
      }
      paper-fab.blue {
        --paper-fab-background: var(--paper-light-blue-500);
        --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
      }
      paper-fab.green {
        --paper-fab-background: var(--paper-green-500);
        --paper-fab-keyboard-focus-background: var(--paper-green-900);
      }
      paper-fab.red {
        --paper-fab-background: var(--paper-red-500);
        --paper-fab-keyboard-focus-background: var(--paper-red-900);
      }
    </style>
    <script src="../../js/nol-common.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <nol-banking-header id="nolBankingHeader" userid="{{userid}}" baseAPITechuURL="{{baseAPITechuURL}}"></nol-banking-header>
    <br/>

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
          	<h4 class="card-title mt-2">Perfil de usuario</h4>
          </header>
          <article class="card-body">
            <form>
            	<div class="form-row">
            		<div class="col form-group">
                  <paper-input hidden$="{{!isEditing}}" id="firstNameInput" label="Nombre" value="{{first_name::input}}" required="true" errorMsg="Campo requerido"></paper-input>
                  <span hidden$="{{isEditing}}">Nombre: {{first_name::input}}</span>
            		</div> <!-- form-group end.// -->
            		<div class="col form-group">
            			<paper-input hidden$="{{!isEditing}}" id="lastNameInput" label="Apellido" value="{{last_name::input}}" required="true" errorMsg="Campo requerido"></paper-input>
                  <span hidden$="{{isEditing}}">Apellido: {{last_name::input}}</span>
            		</div> <!-- form-group end.// -->
            	</div> <!-- form-row end.// -->
            	<div class="form-group">
                <!-- pattern="[a-zA-Z]*@[a-zA-Z]*.[a-zA-Z]*"  -->
                <paper-input hidden$="{{!isEditing}}" id="emailInput" label="Email" value="{{email::input}}" required="true" error-message="Debe escribir un email válido">
                  <iron-icon icon="mail" prefix></iron-icon>
                </paper-input>
                <span hidden$="{{isEditing}}">Email: {{email::input}}</span>
            	</div> <!-- form-group end.// -->
              <div id="errorMsg" hidden$="{{!isEditing}}" >[[errorMsg]]</div>
            	<div class="form-group" hidden$="{{!isEditing}}">
                <paper-input id="passwordInput" label="Contraseña" value="{{password::input}}" type="password" required="true" errorMsg="Campo requerido"></paper-input>
            	</div> <!-- form-group end.// -->
              <div class="form-group" hidden$="{{!isEditing}}">
                <paper-input id="confirmPasswordInput" label="Confirmar contraseña" value="{{confirm_password::input}}" type="password" required="true" errorMsg="Campo requerido"></paper-input>
            	</div> <!-- form-group end.// -->
              <div class="form-group" hidden$="{{isEditing}}">
                <paper-fab icon="create" title="Editar usuario" class="blue" on-click="editUser"></paper-fab>
                <paper-fab icon="delete" title="Eliminar usuario" class="blue" on-click="deleteUser"></paper-fab>
              </div> <!-- form-group// -->
              <div class="form-group" hidden$="{{!isEditing}}">
                <paper-fab icon="cancel" title="Cancelar" class="red" on-click="cancelEditUser"></paper-fab>
                <paper-fab icon="check-circle" title="Confirmar usuario" class="green" on-click="confirmEditUser"></paper-fab>
              </div> <!-- form-group// -->
            </form>
          </article>
        </div> <!-- card.// -->
      </div> <!-- col.//-->
    </div> <!-- row.//-->

    <paper-dialog id="confirmDeleteDialog">
      <h2>Confirmar borrado</h2>
      <div>
        ¿Está seguro de que quiere borrar su usuario de Nol Banking?
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus on-click="confirmDeleteUser">Accept</paper-button>
      </div>
    </paper-dialog>

      <iron-ajax
        id="getUserInfo"
        url="{{baseAPITechuURL}}/users/{{userid}}"
        content-type="application/json"
        handle-as="json"
        headers="{{headers}}"
        on-response="manageAJAXUserInfoResponse"
        on-error="showError"/>

      <iron-ajax
        id="updateUser"
        url="{{baseAPITechuURL}}/users/{{userid}}"
        content-type="application/json"
        method="PUT"
        handle-as="json"
        headers="{{headers}}"
        on-response="manageAJAXResponse"
        on-error="showError"/>

      <iron-ajax
        id="deleteUser"
        url="{{baseAPITechuURL}}/users/{{userid}}"
        method="DELETE"
        headers="{{headers}}"
        on-response="manageDeletedUser"
        on-error="showError"/>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolUserProfile extends Polymer.Element {
      static get is() { return 'nol-user-profile'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          }, userid: {
            type: String,
            observer : '_useridChanged'
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, confirm_password: {
            type: String
          }, errorMsg: {
            type: String
          }, isEditing: {
            type: Boolean,
            value: false
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }

      editUser(e) {
        console.log("edit user selected");
        this.isEditing = true;
      }

      deleteUser(e) {
        console.log("delete user selected");
        // Confirm user delete.
        this.$.confirmDeleteDialog.open();
      }

      confirmDeleteUser(e) {
        console.log("confirm delete user selected");
        this.$.deleteUser.generateRequest();
        console.log("Petición borrar usuario enviada");
      }

      cancelEditUser(e) {
        console.log("cancel user edit");
        this.isEditing = false;
      }

      confirmEditUser() {
        console.log("Confirmar usuario");
        //validate form data
        //auto validations
        var validated = true;
        validated &= this.$.firstNameInput.validate();
        validated &= this.$.lastNameInput.validate();
        validated &= this.$.emailInput.validate();
        validated &= this.$.passwordInput.validate();
        validated &= this.$.confirmPasswordInput.validate();

        if (!validated) {
              //did not validate correctly
          console.log("Validación de usuario incorrecta");
          return;
        }

        if (this.password != this.confirm_password) {
          console.log("Contraseñas no son iguales");
          this.errorMsg="Las dos contraseñas no coinciden";
          return;
        }

        //register user.
        var userData = {
          //"userid" : this.userid,
          "first_name" : this.first_name,
          "last_name" : this.last_name,
          "email" : this.email,
          "password" : this.password
        };

        this.$.updateUser.body = JSON.stringify(userData);
        this.$.updateUser.generateRequest();
        console.log("Petición actualizar usuario enviada");
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta logon del servidor");
        //this.isLogged = true;
        window.location = "/user/" + this.userid;
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      goToLogin() {
        console.log("Ir a login");
        window.location = "/login";
      }

      _useridChanged(newValue, oldValue) {

        this.$.getUserInfo.generateRequest();
        console.log("Petición getUser info enviada");
      }

      manageAJAXUserInfoResponse(data) {
          console.log("Recibido usuario");

          this.first_name = data.detail.response[0].first_name;
          this.last_name = data.detail.response[0].last_name;
          this.email = data.detail.response[0].email;
          this.password = null;
          this.confirm_password = null;
      }

      manageDeletedUser(data) {
        console.log("Borrado de usuario correcto");
        //once user is deleted remove token and go to login

        //remove token from session
        localStorage.setItem("noltoken", null);

        this.goToLogin();
      }

    }

    window.customElements.define(NolUserProfile.is, NolUserProfile);
  </script>
</dom-module>
