<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-fab/paper-fab.html">


<dom-module id="nol-account-card">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <custom-style>
      <style is="custom-style">
        paper-fab {
          display: inline-block;
          margin: 8px;
        }
        paper-fab.blue {
          --paper-fab-background: var(--paper-light-blue-500);
          --paper-fab-keyboard-focus-background: var(--paper-light-blue-900);
        }
      </style>
    </custom-style>
    <script src="../../js/nol-common.js"></script>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <header class="card-header">
            <h4>IBAN: {{account.IBAN}}</h4>
          </header>
          <article class="card-body box-shadow">
          	<div class="row">
                Saldo: {{account.balance}} €
          	</div> <!-- form-row end.// -->
            <div class="group">
              <paper-fab icon="payment" title="Detalle de movimientos" class="blue"  on-click="sendSeeEvent"></paper-fab>
              <paper-fab icon="add" title="Nueva operación" class="blue"  on-click="sendNewMovementEvent"></paper-fab>
              <paper-fab icon="delete" title="Eliminar cuenta" class="blue" on-click="sendDeleteEvent"></paper-fab>
            </div> <!-- form-group// -->
          </article>
        </div>
      </div>
    </div>

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolAccountCard extends Polymer.Element {
      static get is() { return 'nol-account-card'; }
      static get properties() {
        return {
          account: {
            type: Object
          }
        };
      }

      sendDeleteEvent(e) {
        console.log("Delete account event " + this.account.id + " IBAN " + this.account.IBAN);

        this.dispatchEvent(
          new CustomEvent(
            "account-delete-event",
            {
              "detail" :
              {
                "_id" : this.account._id,
                "account" : this.account
              }
            }
          )
        );// fin dispatch
      }
      sendSeeEvent(e) {
        console.log("See account event " + this.account.id + " IBAN " + this.account.IBAN);

        this.dispatchEvent(
          new CustomEvent(
            "account-see-event",
            {
              "detail" :
              {
                "account" : this.account
              }
            }
          )
        );// fin dispatch
      }

      sendNewMovementEvent(e) {
        console.log("New account movement event " + this.account.id + " IBAN " + this.account.IBAN);

        this.dispatchEvent(
          new CustomEvent(
            "account-new-movement-event",
            {
              "detail" :
              {
                "account" : this.account
              }
            }
          )
        );// fin dispatch
      }
    }

    window.customElements.define(NolAccountCard.is, NolAccountCard);
  </script>
</dom-module>
