<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="../../bower_components/paper-radio-group/paper-radio-group.html">

<dom-module id="nol-new-transfer">
  <template>
    <style is="custom-style">
        :host {
            display: block;

        }
        #errorMsg {
            margin-top: 16px;
            color: var(--login-error-label-color, var(--error-color));
            @apply --paper-font-menu;
        }
        paper-fab {
          display: inline-block;
          margin: 8px;
        }
        paper-fab.green {
          --paper-fab-background: var(--paper-green-500);
          --paper-fab-keyboard-focus-background: var(--paper-green-900);
        }
        paper-fab.red {
          --paper-fab-background: var(--paper-red-500);
          --paper-fab-keyboard-focus-background: var(--paper-red-900);
        }
    </style>
    <script src="../../js/nol-common.js"></script>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div style="padding:10px;height:370px; width:500px;">
      <h4>Nueva operación</h4>
      <div>
        Tipo de operación: {{tipo_operacion}}
        <br/>
      </div> <!-- form-group end.// -->
      <div id="errorMsg" >[[errorMsg]]</div>
      <div>
        <span class="label label-default">Cuenta origen:</span>
        <select id="originAccountComboId" SIZE=1 value="{{originAccountId::change}}">
          <template is="dom-repeat" items="{{accounts}}" as="account">
            <option value="[[account.id]]">[[account.IBAN]]</option>
          </template>
        </select>
      <div>
      <br/>
      <div>
        <span class="label label-default">Cuenta destino:</span>
        <select id="destinationAccountComboId" SIZE=1 value="{{destinationAccountId::change}}">
          <template is="dom-repeat" items="{{accounts}}" as="account">
            <option value="[[account.id]]">[[account.IBAN]]</option>
          </template>
        </select>
      <div>
      <div>
        <paper-input id="amountInput" label="Importe" value="{{importe::input}}" type="number" required="true" errorMsg="Campo requerido"></paper-input>
      </div> <!-- form-group end.// -->
      <div >
        <paper-textarea id="conceptoInput" label="Concepto" value="{{concepto::input}}"></paper-textarea>
      </div> <!-- form-group end.// -->
      <div align="center">
        <!-- Ok and cancel buttons -->
        <paper-fab icon="cancel" title="Cancelar" class="red" on-click="sendCancelEvent"></paper-fab>
        <paper-fab icon="check-circle" title="Confirmar transferencia" class="green" on-click="confirmNewTransferMovement"></paper-fab>
      </div> <!-- form-group// -->
    </div>

      <iron-ajax
        id="createNewTransferMovement"
        url="{{baseAPITechuURL}}/movements"
        content-type="application/json"
        method="POST"
        handle-as="json"
        headers="{{headers}}"
        on-response="manageAJAXResponse"
        on-error="showError"/>

      <iron-ajax
        id="getAccountsForUser"
        url="{{baseAPITechuURL}}/users/{{userid}}/accounts"
        handle-as="json"
        headers="{{headers}}"
        on-response="showData"
        on-error="showError"/>


  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolNewTransfer extends Polymer.Element {
      static get is() { return 'nol-new-transfer'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
          },
          importe:  {
            type: Number
          },
          tipo_operacion : {
            type: String,
            value: "traspaso"
          },
          concepto : {
            type: String
          },
          accounts: {
            type: Array
          },
          userid: {
            type: Number
          },
          originAccountId: {
            type: Object
          },
          destinationAccountId: {
            type: Object
          },
          errorMsg: {
            type: String
          }, headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
        };
      }
      _getJWTHeaders() {
        var token = localStorage.getItem("noltoken");
        if (token == null) {
          return null;
        }
        return {'noltoken': token};
      }

      update() {
        console.log("update account information");
        this.accounts = null;
        console.log("url : " + this.$.getAccountsForUser.url);
        console.log("headers : " + this.$.getAccountsForUser.headers.noltoken);
        this.$.getAccountsForUser.generateRequest();
        console.log("Petición getAccounts enviada");
      }

      showData(data) {
          console.log("Recibido");
          console.log(data.detail.response);

          this.accounts = data.detail.response;
          //console.log(this.accounts);
          if ((this.accounts != null) && (this.accounts.length > 0)) {
            this.originAccountId = this.accounts[0].id;
            this.destinationAccountId = this.accounts[0].id;
          }
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      sendCancelEvent(e) {
        console.log("Cancel new event " + this.accountid);

        this.dispatchEvent(
          new CustomEvent(
            "cancel-new-movement-event",
            {
              "detail" :
              {
                "userid" : this.userid,
              }
            }
          )
        );// fin dispatch
      }

      confirmNewTransferMovement(e) {
        console.log("Confirm new movement");

        //validate form data
        var validated = true;
        validated &= this.$.amountInput.validate();
        validated &= this.$.conceptoInput.validate();

        if (!validated) {
              //did not validate correctly
          console.log("Validación de movimiento incorrecta");
          return;
        }

        if (this.originAccountId == this.destinationAccountId) {
          console.log("Cuenta origen y destino no pueden ser iguales");
          this.errorMsg="Cuenta origen y destino no pueden ser iguales";
          return;
        }


        // Get current date
        var now = new Date();
        var date = now.getFullYear()+'-'+(now.getMonth()+1)+'-'+now.getDate();
        var time = now.getHours() + ":" + now.getMinutes() + ":" + now.getSeconds();
        var dateTime = date+' '+time;

        //register movement 2 movemnts
        var movementDataOrigin = {
          "accountid" : parseInt(this.originAccountId, 10),
          "tipo_operacion" : this.tipo_operacion,
          "importe" : parseFloat(-this.importe),
          "concepto" : this.concepto,
          "date" : dateTime
        };
        var movementDataDestintion = {
          "accountid" : parseInt(this.destinationAccountId, 10),
          "tipo_operacion" : this.tipo_operacion,
          "importe" : parseFloat(this.importe),
          "concepto" : this.concepto,
          "date" : dateTime
        };


        this.$.createNewTransferMovement.body = JSON.stringify(movementDataOrigin);
        console.log(this.$.createNewTransferMovement.body);
        this.$.createNewTransferMovement.generateRequest();
        console.log("Petición creación movimiento  origen enviada");

        this.$.createNewTransferMovement.body = JSON.stringify(movementDataDestintion);
        console.log(this.$.createNewTransferMovement.body);
        this.$.createNewTransferMovement.generateRequest();
        console.log("Petición creación movimiento  destino enviada");
      }

      manageAJAXResponse(data) {
        console.log("Recibida respuesta movimiento del servidor");
        console.log(data.detail.response);

        //throw finished event
        console.log("Throw finished creating movement event");

        this.dispatchEvent(
          new CustomEvent(
            "create-new-movement-event",
            {
              "detail" :
              {
                "movement" : data.detail.response
              }
            }
          )
        );// fin dispatch
      }

    }
    window.customElements.define(NolNewTransfer.is, NolNewTransfer);
  </script>
</dom-module>
