<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/iron-icons/iron-icons.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-dialog/paper-dialog.html">

<link rel="import" href="../../bower_components/rsat-popup/rsat-popup.html" />

<link rel="import" href="../nol-account-card/nol-account-card.html">
<link rel="import" href="../nol-account-detail-view/nol-account-detail-view.html">
<link rel="import" href="../nol-new-movement/nol-new-movement.html">

<dom-module id="nol-accounts-view">
  <template>
    <style>
      :host {
        display: block;
      }
      .header-light-blue {
        background-color: var(--paper-light-blue-500);
        font-weight: bold;
        color: white;
        margin-left: 30px;
        margin-right: 30px;
      }
    </style>
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <div class="header-light-blue">
      <h2>Listado de cuentas:</h2>
    </div>
    <br/>
    <template is="dom-repeat" items="{{accounts}}" as="account">
      <nol-account-card account={{account}}
        on-account-delete-event="deleteAccount"
        on-account-see-event="seeAccount"
        on-account-new-movement-event="newMovement">
      </nol-account-card>
      <br/>
    </template>

    <rsat-popup id="movementsDialog" pos="center" backdrop="true" show="false">
      <div align="right">
        <paper-icon-button icon="close" tooltip="Cerrar" on-click="closeMovementsDialog" alt="Cerrar"></paper-icon-button>
      </div>

      <div style="padding:10px;height:500px; width:800px;">
        <nol-account-detail-view id="accountDetails" account="{{selectedAccount}}" baseAPITechuURL="{{baseAPITechuURL}}"></nol-account-detail-view>
      </div>
    </rsat-popup>

    <rsat-popup id="newMovementDialog" pos="center" backdrop="true" show="false">
      <div align="right">
        <paper-icon-button icon="close" tooltip="Cerrar" on-click="closeNewMovementDialog" alt="Cerrar"></paper-icon-button>
      </div>
      <div>
        <nol-new-movement accountid="{{selectedAccount.id}}" baseAPITechuURL="{{baseAPITechuURL}}"
                          on-cancel-new-movement-event="closeNewMovementDialog"
                          on-create-new-movement-event="onCreateCloseNewMovementDialog"></nol-new-movement>
      </div>
    </rsat-popup>

    <paper-dialog id="confirmDeleteDialog">
      <h2>Confirmar borrado</h2>
      <div>
        ¿Está seguro de que quiere borrar su cuenta {{selectedAccount.IBAN}}?
      </div>
      <div class="buttons">
        <paper-button dialog-dismiss>Cancel</paper-button>
        <paper-button dialog-confirm autofocus on-click="confirmDeleteAccount">Accept</paper-button>
      </div>
    </paper-dialog>

    <iron-ajax
      id="getAccountsForUser"
      url="{{baseAPITechuURL}}/users/{{userid}}/accounts"
      handle-as="json"
      headers="{{headers}}"
      on-response="showData"
      on-error="showError"/>

    <iron-ajax
      id="doDeleteAccount"
      url="{{baseAPITechuURL}}/accounts/{{selectedAccountObjectId}}"
      method="DELETE"
      headers="{{headers}}"
      on-response="manageAJAXDeleteAccountResponse"
      on-error="showError"/>
</template>
  <script>
    /**
     * @customElement
     * @polymer
     */
    class NolAccountsView extends Polymer.Element {
      static get is() { return 'nol-accounts-view'; }
      static get properties() {
        return {
          baseAPITechuURL: {
            type: String,
            value: 'http://localhost:3000/apitechu/v3'
            //value: 'http://apitechu-nol-v3-apitechunolv3.7e14.starter-us-west-2.openshiftapps.com/apitechu/v3'
          },
          accounts: {
            type: Array
          },
          userid: {
            type: Number

          },
          selectedAccount: {
            type: Object
          },
          selectedAccountObjectId: {
            type: String
          },
          headers: {
            type: Object,
            computed: '_getJWTHeaders()'
          }
       };
     }
       _getJWTHeaders() {
         var token = localStorage.getItem("noltoken");
         if (token == null) {
           return null;
         }
         return {'noltoken': token};
       }

      update() {
        console.log("update accounts");
        this.accounts = null;
        this.$.getAccountsForUser.generateRequest();
        console.log("Petición getAccounts enviada");
      }

      showData(data) {
          console.log("Recibido getAccountsForUser");
          console.log(data.detail.response);

          this.accounts = data.detail.response;
          //console.log(this.accounts);
      }

      showError(error) {
        switch(error.detail.request.status) {
          case 401: {
              this.accounts = null;
              console.log("Authentication ERROR 401");
              console.log(error);
              alert("Error de autenticación 401: " + error.detail.error);
              window.location = "/login";
              break;
            }
          case 404: {
            //Not a real errorjust that user has no accounts. 404 not found
              this.accounts = null;
              break;
            }
          default: {
              console.log("Hubo un error");
              console.log(error);
              alert("Hubo un error: " + error);
            }
        }
      }

      deleteAccount(e) {
        console.log("delete selected account");
        //console.log(e.detail);
        this.selectedAccount = e.detail.account;
        this.selectedAccountObjectId = e.detail['_id']['$oid'];

        // Confirm user delete.
        this.$.confirmDeleteDialog.open();
      }

      confirmDeleteAccount(e) {
        console.log("confirm delete account selected");
        this.$.doDeleteAccount.generateRequest();
        console.log("Petición delete enviada");
      }

      manageAJAXDeleteAccountResponse(data){
        //Once account was deleted correctly  correctly
        console.log("Recibida respuesta delete correcta del servidor");
        //console.log(data.detail.response);
        // Update account list information
        this.$.getAccountsForUser.generateRequest();
      }

      seeAccount(e) {
        console.log(e);
        // console.log("See account details request");
        // console.log("Account inital id" + this.selectedAccountId );

        this.selectedAccount = e.detail.account;
        this.$.accountDetails.update();
        this.$.movementsDialog.setAttribute('show', true);
      }

      onCreateCloseNewMovementDialog(e) {
        // update current accounts to reflect changed balances,
        this.update();
        this.closeNewMovementDialog(e);
      }

      closeNewMovementDialog(e) {
        console.log("closeNewMovementDialog called");

        //Use next statement instead of this.$.newMovementDialog.show = false; due to component bug
        this.$.newMovementDialog.setAttribute('show', false);
      }

      newMovement(e) {
        console.log("newMovement called");
        console.log(e);

        this.selectedAccount = e.detail.account;

        this.$.newMovementDialog.setAttribute('show', true);

      }

      closeMovementsDialog(e){
        console.log("closeMovementsDialog called");
        console.log(e);

        //Use next statement instead of this.$.movementsDialog.show = false; due to component bug
        this.$.movementsDialog.setAttribute('show', false);
      }

    }

    window.customElements.define(NolAccountsView.is, NolAccountsView);
  </script>
</dom-module>

